 @font-face {
     font-family: 'birthday';
     src: url("SweetYellow-ALPEA.ttf")
 }
 #header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
body {
    text-align: center;
    width: 400px;
    margin: 10px auto;
    background-color: 90593F; 
    color: f1faee; 
    
    
}  

#font {
    font-family: 'birthday';
    font-size: 60px;
    text-align: center;
}

.img-size {
    width: 150px;
    height: 400
    border: 5px solid #D48C3E;
    border-radius: 50px;
    margin: 30px;
    
}


h4, p, h1 {
 color: #f1faee;
 text-align: center;

}
.gift-section {
    margin-top: 20px;
}
.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/wrapper.jpg");
    background-size: cover;
}
#gift-img-there:hover {
    background-image: url("images/giphy.webp");
}
#gift-img-dance:hover {
    background-image: url("images/wesnce.webp"); 
}
#gift-img-teetoff:hover {
    background-image: url("images/teetoff.webp");
}
#gift-img-extin:hover {
    background-image: url("images/extin.webp");
}
footer, a {
    text-align: center;
    color: f1faee;
    font-style: italic;
    text-shadow: 0px 0px 2px black;
}
